<div class="jumbotron">
  <div class="container-fluid">
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-6">
        <h1>Sports News Los Angeles</h1>
        <br>
        <p>Stay Up-to-Date With All the Latest L.A. Sports News.</p>
        <p>Over 150 News and Social Media Feeds Automatically Updated.</p>
        <p>Log In and Save Stories to Your List of Favorites.</p>
      </div>
      <div class="col-xs-12 col-sm-12 col-md-6">
        <%= image_tag("home1.png", :class => "home-image") %>
      </div>
    </div>
  </div>
</div>

<div class="container-fluid">
  <div class="row headline">
    Latest Team Headlines
  </div>
</div>

<div class="container-fluid">
  <div class="row">
    <div ng-controller="LakersCtrl" class="col-xs-12 col-sm-6 col-md-3">
      <div class="team-header"><%= link_to "Lakers", lakers_path %></div>
      <div ng-repeat="story in stories | orderBy: '-published' | limitTo: 10">
        <div class="story">
          <a href="{{story.url}}" popover="{{story.summary | limitTo: 150}}..." popover-placement="bottom" popover-trigger="mouseenter" target="blank">{{story.title}}</a><br>
          <span class="source">({{story.published | date: 'short'}}, Source: {{story.source}})</span>&nbsp;
          
          <!-- <i class="fa fa-star-o favorite" popover="Add to favorites" popover-placement="bottom" popover-trigger="mouseenter" ng-click="addFavorite(story)"></i>
          <div ng-show="clock">I'm New</div> -->
          
        </div>
      </div>
    </div>

    <div ng-controller="ClippersCtrl" class="col-xs-12 col-sm-6 col-md-3">
      <div class="team-header"><%= link_to "Clippers", clippers_path %></div>
      <div ng-repeat="story in stories | orderBy: '-published' | limitTo: 10">
        <div class="story">
          <a href="{{story.url}}" popover="{{story.summary | limitTo: 150}}..." popover-placement="bottom" popover-trigger="mouseenter" target="blank">{{story.title}}</a><br>
          <span class="source">({{story.published | date: 'short'}}, Source: {{story.source}})</span>
        </div>
      </div>
    </div>

    <div ng-controller="DodgersCtrl" class="col-xs-12 col-sm-6 col-md-3">
      <div class="team-header"><%= link_to "Dodgers", dodgers_path %></div>
      <div ng-repeat="story in stories | orderBy: '-published' | limitTo: 10">
        <div class="story">
          <a href="{{story.url}}" popover="{{story.summary | limitTo: 150}}..." popover-placement="bottom" popover-trigger="mouseenter" target="blank">{{story.title}}</a><br>
          <span class="source">({{story.published | date: 'short'}}, Source: {{story.source}})</span>
        </div>
      </div>
    </div>

    <div ng-controller="AngelsCtrl" class="col-xs-12 col-sm-6 col-md-3">
      <div class="team-header"><%= link_to "Angels", angels_path %></div>
      <div ng-repeat="story in stories | orderBy: '-published' | limitTo: 10">
        <div class="story">
          <a href="{{story.url}}" popover="{{story.summary | limitTo: 150}}..." popover-placement="bottom" popover-trigger="mouseenter" target="blank">{{story.title}}</a><br>
          <span class="source">({{story.published | date: 'short'}}, Source: {{story.source}})</span>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div ng-controller="BruinsCtrl" class="col-xs-12 col-sm-6 col-md-3">
      <div class="team-header"><%= link_to "UCLA", bruins_path %></div>
      <div ng-repeat="story in stories | orderBy: '-published' | limitTo: 10 ">
        <div class="story">
          <a href="{{story.url}}" popover="{{story.summary | limitTo: 150}}..." popover-placement="bottom" popover-trigger="mouseenter" target="blank">{{story.title}}</a><br>
          <span class="source">({{story.published | date: 'short'}}, Source: {{story.source}})</span>
        </div>
      </div>
    </div>

    <div ng-controller="TrojansCtrl" class="col-xs-12 col-sm-6 col-md-3">
      <div class="team-header"><%= link_to "USC", trojans_path %></div>
      <div ng-repeat="story in stories | orderBy: '-published' | limitTo: 10">
        <div class="story">
          <a href="{{story.url}}" popover="{{story.summary | limitTo: 150}}..." popover-placement="bottom" popover-trigger="mouseenter" target="blank">{{story.title}}</a><br>
          <span class="source">({{story.published | date: 'short'}}, Source: {{story.source}})</span>
        </div>
      </div>
    </div>

    <div ng-controller="KingsCtrl" class="col-xs-12 col-sm-6 col-md-3">
      <div class="team-header"><%= link_to "Kings", kings_path %></div>
      <div ng-repeat="story in stories | orderBy: '-published' | limitTo: 10">
        <div class="story">
          <a href="{{story.url}}" popover="{{story.summary | limitTo: 150}}..." popover-placement="bottom" popover-trigger="mouseenter" target="blank">{{story.title}}</a><br>
          <span class="source">({{story.published | date: 'short'}}, Source: {{story.source}})</span>
        </div>
      </div>
    </div>

    <div ng-controller="DucksCtrl" class="col-xs-12 col-sm-6 col-md-3">
      <div class="team-header"><%= link_to "Ducks", ducks_path %></div>
      <div ng-repeat="story in stories | orderBy: '-published' | limitTo: 10">
        <div class="story">
          <a href="{{story.url}}" popover="{{story.summary | limitTo: 150}}..." popover-placement="bottom" popover-trigger="mouseenter" target="blank">{{story.title}}</a><br>
          <span class="source">({{story.published | date: 'short'}}, Source: {{story.source}})</span>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div ng-controller="GalaxyCtrl" class="col-xs-12 col-sm-6 col-md-3">
      <div class="team-header"><%= link_to "Galaxy", galaxy_path %></div>
      <div ng-repeat="story in stories | orderBy: '-published' | limitTo: 10">
        <div class="story">
          <a href="{{story.url}}" popover="{{story.summary | limitTo: 150}}..." popover-placement="bottom" popover-trigger="mouseenter" target="blank">{{story.title}}</a><br>
          <span class="source">({{story.published | date: 'short'}}, Source: {{story.source}})</span>
        </div>
      </div>
    </div>

    <div ng-controller="ChivasCtrl" class="col-xs-12 col-sm-6 col-md-3">
      <div class="team-header"><%= link_to "Chivas", chivas_path %></div>
      <div ng-repeat="story in stories | orderBy: '-published' | limitTo: 10">
        <div class="story">
          <a href="{{story.url}}" popover="{{story.summary | limitTo: 150}}..." popover-placement="bottom" popover-trigger="mouseenter" target="blank">{{story.title}}</a><br>
          <span class="source">({{story.published | date: 'short'}}, Source: {{story.source}})</span>
        </div>
      </div>
    </div>

    <div ng-controller="SparksCtrl" class="col-xs-12 col-sm-6 col-md-3">
      <div class="team-header"><%= link_to "Sparks", sparks_path %></div>
      <div ng-repeat="story in stories | orderBy: '-published' | limitTo: 10">
        <div class="story">
          <a href="{{story.url}}" popover="{{story.summary | limitTo: 150}}..." popover-placement="bottom" popover-trigger="mouseenter" target="blank">{{story.title}}</a><br>
          <span class="source">({{story.published | date: 'short'}}, Source: {{story.source}})</span>
        </div>
      </div>
    </div>

    <div ng-controller="PrepsCtrl" class="col-xs-12 col-sm-6 col-md-3">
      <div class="team-header"><%= link_to "High School", preps_path %></div>
      <div ng-repeat="story in stories | orderBy: '-published' | limitTo: 10">
        <div class="story">
          <a href="{{story.url}}" popover="{{story.summary | limitTo: 150}}..." popover-placement="bottom" popover-trigger="mouseenter" target="blank">{{story.title}}</a><br>
          <span class="source">({{story.published | date: 'short'}}, Source: {{story.source}})</span>
        </div>
      </div>
    </div>
  </div>
</div>