<!DOCTYPE html>
<html ng-app="SportsNewsLA">
<head>
  <title>Sports News Los Angeles</title>
  <%= stylesheet_link_tag    "application"%>
  <%= javascript_include_tag "application"%>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-49593330-2', 'sportsnewsla.herokuapp.com');
    ga('send', 'pageview');
  </script>
</head>
<body>
  <nav class="navbar navbar-inverse" role="navigation">
    <div class="container-fluid">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <%= link_to "Sports News L.A.", root_path, class: "navbar-brand", id: "title"%>
      </div>
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
          <li><%= link_to "Lakers", lakers_path %></li>
          <li><%= link_to "Clippers", clippers_path %></li>
          <li><%= link_to "Dodgers", dodgers_path %></li>
          <li><%= link_to "Angels", angels_path %></li>
          <li><%= link_to "Kings", kings_path %></li>
          <li><%= link_to "Ducks", ducks_path %></li>
          <li><%= link_to "UCLA", bruins_path %></li>
          <li><%= link_to "USC", trojans_path %></li>
          <li><%= link_to "Sparks", sparks_path %></li>
          <li><%= link_to "Galaxy", galaxies_path %></li>
          <li><%= link_to "Chivas USA", chivas_path %></li>
          <li><%= link_to "High School", preps_path %></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <!-- <li><a href="#">Fan Gear</a></li>
          <li><a href="#">Tickets</a></li>
          <li><a href="#">Sports Bars</a></li>
          <li><a>|</a></li> -->
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Sign In/Sign Up<b class="caret"></b></a>
            <ul class="dropdown-menu">
              <li><a href="#">Profile</a></li>
              <li><a href="#">Favorites Dashboard</a></li>
              <li class="divider"></li>
              <li><a href="#">Sign Out</a></li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <div id="sub-bar"></div>
  
<%= yield %>

</body>
</html>
